.root {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Black.ttf");
}
.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-border-color: #d0d0d0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10;
}
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.button:hover {
    -fx-background-color: #45a049;
}
.button:pressed {
    -fx-background-color: #4a44b8;
}

/* General GridPane background */
.root {
    -fx-background-color: #ECEFF1;
}

/* Labels styling */
.label {
    -fx-text-fill: #333;
    -fx-font-family: "Arial";
}

/* Button hover effect */
#loginButton {
    -fx-cursor: hand;
}

#loginButton:hover {
    -fx-background-color: #45A049;
}
